<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container-fluid">
        <div class="container">
          <div class="row">
            <button class="col btn btn-link btn-lg">
              PR Portfolio
            </button>
            <button class="col btn btn-link btn-lg">
              Home
            </button>
            <button class="col btn btn-link btn-lg">
              Shopping cart
            </button>
              <h3>Username: Wenhao</h3>
          </div>
        </div>
    </div>
    <br>
    <br>

    <div class="container-fluid">
        {% extends "base.html" %}
        {% load static %}
        {% block page_content %}
        <div class="container-fluid">
        <h1>Products</h1>
        <button class="btn-light" href="{% url 'create_product' %}">
            Add Product
        </button>
        </div>
        <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{% static product.image %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{% url 'product_detail' product.pk %}"
                           class="btn btn-primary">
                            Add to cart
                        </a>
                        <i class="fa-solid fa-pen-to-square" href="{url }"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>

</body>
</html>